---
import Layout from "../layouts/Layout.astro";
const BRANDS = [
    {
        href: "/outlook.png",
    },
    {
        href: "/gmail.png",
    },
    {
        href: "/yahoo.png",
    },
];
---

<Layout title="Vanity">
  <br><br><h2 style="font-size: 65px; text-align: center;"><strong>You can always be safer</strong></h2>
  <section class="w-full mx-auto px-4 py-8 mt-20">
    <div class="max-w-7xl mx-auto px-4 flex flex-col items-center">
        <h3 class="text-[#AFA9A9] mx-auto text-base xl:text-2xl">
            Trusted by <span class="text-white font-bold"
                >thousands</span
            > of users and companies
        </h3>

        <div class="mt-16">
            <h4 class="text-[#afa9a9]">Partnered up by:</h4>
            <ul class="flex items-center justify-center gap-10 flex-col md:flex-row">
              {BRANDS.map((brand) => (
                <li>
                  <img src={brand.href} alt="brand" />
                </li>
              ))}
            </ul>
        </div>
    </div>
  </section>
  
  <div class="products-container">
    <div class="products">
      <div class="product">
        <h2>Basic</h2>
        <p class="price">$9.90/<span class="small-text">month</span></p>
        <div class="details">
          <p>2 Licenses</p>
          <p>Unlimited Detections</p>
          <p>24/7 Support </p>
        </div>
        <a href="/purchase_index"><button>BUY NOW</button></a>      </div>
      <div class="product pymes">
        <h2>Premium</h2>
        <p class="price">$49.90/<span class="small-text">month</span></p>
        <div class="details">
          <p>20 Licenses</p>
          <p>Unlimited Detections</p>
          <p>24/7 Support </p>
        </div>
        <button>BUY NOW</button>
      </div>

      <div class="product business">
        <div class="popular-tag">Popular</div>
        <h2 class="large-title">Corporational</h2>
        <p class="price">$449.90/<span class="small-text">month</span></p>
        <div class="details">
          <p>Unlimited Licenses</p>
          <div class="details">
          </div>
          <p>Unlimited Detections</p>
          <p>24/7 Support </p>
        </div>
        <button>CONTACT</button>
      </div>
    </div>
  </div>
</Layout>

<style>
.small-text {
  font-weight: normal;
  font-size: 0.5em;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  overflow-x: hidden; /* Cambia esta línea */
  overflow-y: auto; /* Asegúrate de que la barra de desplazamiento vertical esté habilitada */
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Add this media query */
@media (max-width: 900px) {
  .products {
    flex-direction: column;
    align-items: center;
  }
}

.details p::before {
  content: "\2022";
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.product {
  margin-bottom: 100px;
  position: relative;
  background-color: #232628;
  border: 1px solid #FFFFFF;
  padding: 40px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  border-radius: 15px;
  min-width: 300px;
  min-height: 200;
}

.product h2 {
  font-weight: bold;
}

.product p {
  margin-bottom: 10px;
}

.product.pymes {
  border-color: #3A50FF;
}

.product.business {
  border-color: #E7AB11;
}

.product button {
  margin-top: 20px;
  background-color: #4254E3;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.product button:hover {
  background-color: #3144B8;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.details {
  text-align: left;
}

.popular-tag {
  position: absolute;
  top: 0;
  right: 0;
  background: #5C1AE8; 
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  transform: translate(50%, -50%);
  border-radius: 0 0 0 5px;
}

</style>