---
const BRANDS = [
    {
        href: "/outlook.png",
    },
    {
        href: "/gmail.png",
    },
    {
        href: "/yahoo.png",
    },
];
---
<section class="w-full mx-auto px-4 py-8 mt-20">
  <div class="max-w-7xl mx-auto px-4 flex flex-col items-center">
      <h3 class="text-[#AFA9A9] mx-auto text-base xl:text-2xl">
          Trusted by <span class="text-white font-bold"
              >thousands</span
          > of users and companies
      </h3>

      <div class="mt-16">
          <h4 class="text-[#afa9a9]">Partnered up by:</h4>
          <ul class="flex items-center justify-center gap-16 flex-col md:flex-row">
            {BRANDS.map((brand) => (
              <li>
                <img src={brand.href} alt="brand" />
              </li>
            ))}
          </ul>
      </div>
  </div>
</section>