<section class="w-full mx-auto px-4 py-8">
  <div class="flex xl:justify-end text-base items-center mx-auto max-w-0xl gap-4 justify-between px-6 xl:px-4 xl:text-3xl">
    <a href="/support_index">SUPPORT</a>
    <a href="/login">LOGIN</a>
    <a href="/login" class="bg-[#4254E3] px-3 py-2 text-nowrap rounded-full hover:bg-[#3a4ddc] cursor-pointer transition-colors">get <b>VANITY</b></a>
  </div>
</section>

<section class="w-full mx-auto px-4 py-8">
  <div class="flex xl:justify-center items-center mx-auto max-w-7xl justify-between xl:px-4 gap-20 flex-col xl:flex-row">

    <div class="flex flex-col">
      <h1 class="text-5xl xl:text-[90px] font-semibold">VANITY</h1>
      <p class="text-base xl:text-xl" >Vanity has been leading the charge in anti-phishing since 2024</p>

      <h3 class="font-semibold text-2xl  xl:text-[35px] mt-4">LIMITED TIME SALE</h3>
      <h3 class=" text-2xl xl:text-[35px] font-normal">50% OFF VANITY YEAR PLAN</h3>

      <a href="/login" class="bg-[#4254E3] hover:bg-[#3a4ddc] mx-auto lg:mx-0 px-8 py-2 w-fit rounded-full font-semibold my-6 text-center block">SIGN UP FOR FREE</a>

      <p class="text-xs text-center xl:text-start xl:text-lg">By signing up, you agree to the <br class="xl:hidden"> <span class="text-[#666EAF] font-semibold">Terms and Conditions</span> and <span class="text-[#666EAF] font-semibold">Privacy Policy</span>.</p>
    </div>
    <img src="/hero-image.png" alt="details" class="aspect-[553/402]">
  </div>
</section>